<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
        <main>
            <% if (!error) { %>
                <div class="form-container">
                    <form action="/double-playfair/encrypt" method="POST" class="form">
                        <div class="form-item">
                            <label for="message">Повідомлення</label>
                            <textarea name="message" id=""></textarea>
                        </div>
                        <div class="form-item">
                            <label for="key1">Ключ 1</label>
                            <input type="text" name="key1">
                        </div>
                        <div class="form-item">
                            <label for="key2">Ключ 2</label>
                            <input type="text" name="key2">
                        </div>
                        <div class="form-item form-item-alph"><strong>Алфавіт</strong>
                            <label><input type="radio" name="alphabet" value="ua">Український</label>

                            <label><input type="radio" name="alphabet" value="eng">Англійський</label>
                        </div>
                        <button type="submit">Шифрувати</button>
                    </form>
                </div>
                <% if (decrypted) { %>
                    <div class="double-tables">
                        <table>
                            <tbody>
                                <% for(let i=0; i < matrix1.rows; i++) { %>
                                    <tr>
                                        <% for( let j=0; j < matrix1.cols; j++ ) { %>
                                            <td>
                                                <%= matrix1.matrix[i][j]==='i' ? 'i/j' : matrix1.matrix[i][j] %>
                                            </td>
                                            <% } %>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <% for(let i=0; i < matrix2.rows; i++) { %>
                                    <tr>
                                        <% for( let j=0; j < matrix2.cols; j++ ) { %>
                                            <td>
                                                <%= matrix2.matrix[i][j]==='i' ? 'i/j' : matrix2.matrix[i][j] %>
                                            </td>
                                            <% } %>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="">
                        <h2>Розшифроване повідомлення: <%= decrypted %>
                        </h2>
                        <h2>Ключ 1: <%= key1 %>
                        </h2>
                        <h2>Ключ 2: <%= key2 %>
                        </h2>
                    </div>
                    <% } %>
                        <% } else {%>
                            <h1>
                                <%= errorMessage %>
                            </h1>
                            <% } %>
        </main>
</body>

</html>