<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
        <main>
            <div class="form-container">
                <form action="/polybius/encrypt" method="POST" class="form">
                    <div class="form-item">
                        <label for="message">Повідомлення</label>
                        <textarea name="message" id=""></textarea>
                    </div>
                    <div class="form-item">
                        <label for="key">Ключ</label>
                        <input type="text" name="key">
                    </div>
                    <div class="form-item form-item-alph"><strong>Алфавіт</strong>

                        <label><input type="radio" name="alphabet" value="ua">Український</label>

                        <label><input type="radio" name="alphabet" value="eng">Англійський</label>
                    </div>
                    <button type="submit">Шифрувати</button>
                </form>
            </div>
            <% if (error) { %>
                <h1>
                    <%= errorMessage %>
                </h1>
                <% } else { %>
                    <% if (!start) { %>
                        <div class="">
                            <table>
                                <tbody>
                                    <% for(let i=0; i < rows; i++) { %>
                                        <tr>
                                            <% for( let j=0; j < cols; j++ ) { %>
                                                <td>
                                                    <%= matrix[i][j]==='i' ? 'i/j' : matrix[i][j] %>
                                                </td>
                                                <% } %>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="">
                            <h2>Розшифроване повідомлення: <%= decrypted %>
                            </h2>
                            <h2>Ключ: <%= key %>
                            </h2>
                        </div>
                        <% } %>
                            <% } %>



        </main>
</body>

</html>